body  {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
}
  

.container {
    width: min(90%, 1120px);
    margin: 0 auto;
}

.red-hat-disp   {
    font-family: 'Red Hat Display', sans-serif;
}

@mixin fz($px_size) {
    font-size: ($px_size / 16) * 1rem;
}

@mixin lh($px_size) {
    line-height: ($px_size / 16) * 1rem;
}

h2  {
    @include fz(23);
    @include lh(34);
    color: #000;
    padding-bottom: 44px;
}

section   {
    padding-bottom: 128px;
}

.p   {
    @include fz(19);
    @include lh(32);
    color: #565656;
}

.pad    {
    padding-bottom: 40px;
}

img {
    padding-bottom: 50px;
}
