/*repeat from main mixin */

@mixin font($size-px, $lh) {
    font-size: ($size-px / 16) * 1rem;
    line-height: $lh / $size-px;
}
$black-color: #000;
/*== header start ==*/
.header {
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
    .container {
        height: 100px;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 65px;
        .logo {
            padding-top: 15px;
        }
        nav {
            flex: 1 0 auto;
            ul {
                display: flex;
                gap: 42px;
                justify-content: flex-end;
            }
            a {
                display: inline-block;
                position: relative;
                text-transform: uppercase;
                @include font(14, 17);
                color: $black-color;
                letter-spacing: 3.6px;
                &::after {
                    content: '';
                    width: 0;
                    height: 1px;
                    background-color: #000;
                    position: absolute;
                    bottom: -3px;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: all .3s ease;
                }
                &:hover, &.active {
                    &::after {
                    width: 70%; 
                    }
                }
            }
        }
        .btn {
            border: 0;
            background: none;
            cursor: pointer;
            padding: 15px 0 15px 15px;
        }
    }
}


main {
  padding-top: 100px;
}
/*== header end ==*/