/*repeat from main mixin and font */
/*== main section start ==*/
.campaign .container {
  position: relative;
}
.campaign .container .h1 {
  color: #000;
  font-family: "RedHatDisplay", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.3333333333;
  letter-spacing: 2.4px;
  position: absolute;
  left: 0;
  top: 100px;
  width: 60%;
}

.two-columns.bottom-sections {
  display: flex;
  justify-content: space-between;
  padding: 90px 0 58px;
}
.two-columns.bottom-sections > div {
  width: 40%;
}
.two-columns.bottom-sections .big-text {
  color: #000;
  font-family: "RedHatDisplay", sans-serif;
  font-weight: 400;
  font-size: 1.4375rem;
  line-height: 1.652173913;
  letter-spacing: 2.2px;
}
.two-columns.bottom-sections .arow-link {
  position: relative;
  padding-bottom: 30px;
}
.two-columns.bottom-sections .arow-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 24px;
  height: 12px;
  background-image: url(../images/arrow-big-link.png);
}
.two-columns.bottom-sections p {
  margin-bottom: 32px;
  font-size: 1.1875rem;
  line-height: 1.6842105263;
  letter-spacing: 0.7px;
}

/*== main section end ==*/