/*repeat from main mixin and font */

@mixin font_family($family, $weight) {
    font-family: '#{$family}', sans-serif;
    font-weight: $weight;
}
$lato: 'Lato';
$RedHatDisplay: 'RedHatDisplay';


@mixin font($size-px, $lh) {
    font-size: ($size-px / 16) * 1rem;
    line-height: $lh / $size-px;
}
$black-color: #000;
$text-color: #565656;

/*== main section start ==*/
.campaign .container {
    position: relative;
    .h1 {
        color: $black-color;
        @include font_family($RedHatDisplay, 600);
        @include font(48, 64);
        letter-spacing: 2.4px;
        position: absolute;
        left: 0;
        top: 100px;
        width: 60%;
    }
}
.two-columns.bottom-sections {
    display: flex;
    justify-content: space-between;
    padding: 90px 0 58px;
    > div {
        width: 40%;
    }
    .big-text {
        color: $black-color;
        @include font_family($RedHatDisplay, 400);
        @include font(23, 38);
        letter-spacing: 2.2px;
    }
    .arow-link {
        position: relative;
        padding-bottom: 30px;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 24px;
            height: 12px;
            background-image: url(../images/arrow-big-link.png);
        }
    }
    p {
        margin-bottom: 32px;
        @include font(19, 32);
        letter-spacing: 0.7px;
    }
}
/*== main section end ==*/